html {
  height: 100%;
  background: #fbb343;
  background: linear-gradient(to right, rgba(251, 180, 67, 1) 0%, rgba(247, 153, 13, 1) 100%);
}

body {
  background-color: brown;
  background: -moz-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(252, 252, 252, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(252, 252, 252, 1) 0%, rgba(254, 182, 69, 1) 100%);
  background-repeat: no-repeat;
  height: 438px;
}

/* ==================================================
                      THE BIRD
================================================== */

/* ---------- Container ---------- */

.JT {
  position: absolute;
  top: 302px;
  left: 50%;
  transform: translate(-50%);
}

.JT-leg {
  position: absolute;
  top: 90px;
  z-index: -100;
}

.JT-leg_left {
  left: 48%;
}

.JT-leg_right {
  left: 63%;
}

.JT-leg-shin {
  width: 10px;
  height: 40px;
  background: #f8931f;
  position: relative;
  z-index: 100;
  background: linear-gradient(to right, #f7ad59 0%, #f9a94a 100%);
}

.JT-leg-foot {
  width: 40px;
  height: 10px;
  background-color: #f8931f;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom-right-radius: 14% 100%;
  border-bottom-left-radius: 14% 100%;
  position: absolute;
  z-index: 200;
  bottom: -5px;
}

.JT-leg-foot-left {
  left: -30px;
  transform-origin: left;
  transform: rotate(0deg);
  position: absolute;
}

.JT-leg-foot-right {
  left: 0px;
  position: absolute;
  transform-origin: left;
  transform: rotate(-20deg);
  -webkit-animation: shake .5s infinite;
  animation: shake .5s infinite;
}

.JT-feathers {
  position: absolute;
  z-index: 50;
  left: -100%;
  top: 20%;
  transform: tronsform-origin(left bottom);
  transform: rotate(-5deg);
}

.JT-feather {
  width: 180px;
  height: 60px;
  background-color: #aa6615;
  border-top-left-radius: 40% 100%;
  border-top-right-radius: 100% 70%;
  border-bottom-right-radius: 100% 100%;
  border-bottom-left-radius: 40% 100%;
  box-shadow: 0px 0px 0px #000000;
  position: absolute;
  transform-origin: right center;
}

.JT-feather-1 {
  transform: rotate(20deg);
  background-color: #a95026;
}

.JT-feather-2 {
  transform: rotate(40deg);
  background-color: #ab8427;
}

.JT-feather-3 {
  transform: rotate(60deg)
}

.JT-feather-4 {
  transform: rotate(80deg);
  background-color: #f8931f;
}

.JT-feather-5 {
  transform: rotate(100deg);
  background-color: #f8931f;
}

.JT-feather-6 {
  transform: rotate(120deg)
}

.JT-feather-7 {
  transform: rotate(140deg);
  background-color: #ab8427;
}

.JT-feather-8 {
  transform: rotate(160deg);
  background-color: #a95026;
}

.JT-feather-9 {
  transform: rotate(180deg)
}



/* ---------- Body ---------- */

.JT-bod {
  position: relative;
  width: 120px;
  height: 100px;
  background-color: #7b2e12;
  background: linear-gradient(to right, rgba(123, 46, 18, 1) 0%, rgba(64, 19, 3, 1) 100%);
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom-right-radius: 50% 80%;
  border-bottom-left-radius: 50% 80%;
  z-index: 900;
}

.JT-sign {
  position: absolute;
  z-index: 1300;
  width: 140px;
  height: 40px;
  line-height: 45px;
  left: -10px;
  background: #fff;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(207, 205, 207, 1) 100%);
  top: 45px;
  transform: rotate(5deg);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
  font-weight: bold;
}

.JT-sign::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  top: -5px;
  background-color: #7b2e12;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 30% 30%;
  border-bottom-left-radius: 30% 30%;
  transform: rotate(90deg);
}

.JT-sign::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #7b2e12;
  display: block;
  position: absolute;
  right: -12px;
  top: 15px;
  background-color: #7b2e12;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 30% 30%;
  border-bottom-left-radius: 30% 30%;
  transform: rotate(-90deg);
}

.JT-head {
  position: absolute;
  z-index: 1000;
  left: 20%;
  top: -50px;
  background-color: #c4694a;
  background: linear-gradient(to right, rgba(194, 142, 124, 1) 0%, rgba(196, 104, 74, 1) 100%);
  border-radius: 100%;
  width: 70px;
  height: 75px;
}
